<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Webpage Title -->
  <title>게임리스트-매치오버뷰</title>

  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <!-- Bootstrap CSS -->
  <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
  />

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
  ></script>
  <script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
  ></script>

  <!-- 구글폰트 -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" 
  rel="stylesheet">


  <style type="text/css">
    * {
      font-family: 'Roboto', sans-serif;
    }
    .wrap {
      width: 500px;
      margin: auto;
    }
    .header {
      margin: 20px 5px 20px 5px;
      text-align: center;
    }
    .SubHeader {
      margin: 20px 5px 20px 5px;
      text-align: center;
    }
    .button {
      text-align: right;
    }
    h1, h2, h3, h4
    h5 {
      display: inline;
    }
    .contents {
      text-align: auto;
    }

    /*타이머*/
    #stopwatch {
      background: #eee;
      border: 1px solid #999;
      padding: 10px;
      border-radius: 10px;
      max-width:280px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    #sw-time {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
    }
    #sw-rst, #sw-go {
      width: 120px;
      box-sizing: padding-box;
      padding: 10px;
      display: inline-block;
      background: #aa2f2f;
      border: 0;
      color: #fff;
    }
  </style>

</head>

<body>
  <div class="wrap">

    <div class="header">

      <h5>
        <button onclick="back()" type="button" class="btn btn-primary">
          BACK
        </button>
        MATCH#
        <button onclick="excel_download()" type="button" class="btn btn-primary">
          엑셀로내보내기
        </button>
        <button onclick="edit_gameinfo()" type="button" class="btn btn-primary">
          게임정보수정
        </button>
        <button onclick="add_game()" type="button" class="btn btn-primary">
          게임추가
        </button>
      </h5>
    </div>

    <div id="stopwatch">
      <!-- [DISPLAY TIMER] -->
      <div id="sw-time">00:00:00</div>
      <!-- [RESET BUTTON] -->
      <input type="button" value="Reset" id="sw-rst" disabled/>
      <!-- [START/STOP BUTTON] -->
      <input type="button" value="Start" id="sw-go" disabled/>
    </div>

    <!-- 이벤트 타입 -->
    <div class="input-group mb-3">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary">
          <input 
          type="radio" 
          name="eventType" 
          id="eventType1" 
          autocomplete="off" 
          value="슈팅"/> 
          슈팅
        </label>

        <label class="btn btn-outline-primary">
          <input 
          type="radio" 
          name="eventType" 
          id="eventType2" 
          autocomplete="off"
          value="파울"/>
          파울
        </label>

        <label class="btn btn-outline-primary">
          <input 
          type="radio" 
          name="eventType" 
          id="eventType3" 
          autocomplete="off"
          value="코너킥"/>
          코너킥
        </label>

        <label class="btn btn-outline-primary">
          <input 
          type="radio" 
          name="eventType" 
          id="eventType4" 
          autocomplete="off"
          value="오프사이드"/>
          오프사이드
        </label>
      </div>
    </div>

    <div class="SubHeader">
      <h3>TEAM A</h3>&nbsp; &nbsp;&nbsp; &nbsp;<h3 id=score1>0</h3>
      &nbsp; &nbsp;<h3>vs</h3>&nbsp; &nbsp;
      <h3 id=score2>0</h3> &nbsp; &nbsp;&nbsp; &nbsp; <h3>TEAM B</h3>
    </div>

    <!-- https://getbootstrap.com/docs/4.0/components/navs/ -->
<!--     <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

      <li class="nav-item">
        <a 
        class="nav-link" 
        id="pills-home-tab" 
        data-toggle="pill" 
        href="#pills-home" 
        role="tab" 
        aria-controls="pills-home" 
        aria-selected="false">
        GAME
      </a>
    </li>

    <li class="nav-item">
      <a 
      class="nav-link active" 
      id="pills-profile-tab" 
      data-toggle="pill" 
      href="#pills-profile" 
      role="tab" 
      aria-controls="pills-profile" 
      aria-selected="true">
      MATCH OVERVIEW
    </a>
  </li>

</ul> -->

<!-- <div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
</div>
</div> -->

<div class="SubHeader">
  <table class="table table-striped" class= "table table-bordered">

    <tbody>
      <tr>
       <td name=totalShots id=totalShots1>0</td>
       <td>TOTAL SHOTS</td>
       <td name=totalShots id=totalShots2>0</td>
     </tr>

     <tr>
       <td name=shotsOnTarget id=shotsOnTarget1>0</td>
       <td>SHOTS ON TARGET</td>
       <td name=shotsOnTarget id=shotsOnTarget2>0</td>
     </tr>

     <tr>
       <td name=shotsOffTarget id=shotsOffTarget1>0</td>
       <td>SHOTS OFF TARGET</td>
       <td name=shotsOffTarget id=shotsOffTarget2>0</td>
     </tr>

     <tr>
       <td name=saves id=saves1>0</td>
       <td>SAVES</td>
       <td name=saves id=saves2>0</td>
     </tr>

     <tr>
       <td name=corners id=corners1>0</td>
       <td>CORNERS</td>
       <td naem=corners id=corners2>0</td>
     </tr>

     <tr>
       <td name=offsides id=offsides1>0</td>
       <td>OFFSIDES</td>
       <td name=offsides id=offsides2>0</td>
     </tr>

     <tr>
       <td name=fouls id=fouls1>0</td>
       <td>FOULS</td>
       <td name=fouls id=fouls2>0</td>
     </tr>

     <tr>
       <td name=cards id=cards1>0</td>
       <td>CARDS</td>
       <td name=cards id=cards2>0</td>
     </tr>
   </tbody>

 </table>
</div>

<br>
<h6> MATCH DETAIL </h6>

<!-- <a href="#" class="list-group-item list-group-item-action">Match Detail</a> -->
<!-- <div class="list-group" id=gameStats>-->  
  <div class="list-group-item list-group-item-action" id=gameStats>None
  </div>
</div>


<script>
        // 타이머

        var sw = {
          /* [INIT] */
        etime : null, // holds HTML time display
        erst : null, // holds HTML reset button
        ego : null, // holds HTML start/stop button
        timer : null, // timer object
        now : 0, // current timer
        init : function () {
          // Get HTML elements
          sw.etime = document.getElementById("sw-time");
          sw.erst = document.getElementById("sw-rst");
          sw.ego = document.getElementById("sw-go");

          // Attach listeners
          sw.erst.addEventListener("click", sw.reset);
          sw.erst.disabled = false;
          sw.ego.addEventListener("click", sw.start);
          sw.ego.disabled = false;
        },

        /* [ACTIONS] */
        tick : function () {
        // tick() : update display if stopwatch running

          // Calculate hours, mins, seconds
          sw.now++;
          var remain = sw.now;
          var hours = Math.floor(remain / 3600);
          remain -= hours * 3600;
          var mins = Math.floor(remain / 60);
          remain -= mins * 60;
          var secs = remain;

          // Update the display timer
          if (hours<10) { hours = "0" + hours; }
          if (mins<10) { mins = "0" + mins; }
          if (secs<10) { secs = "0" + secs; }
          sw.etime.innerHTML = hours + ":" + mins + ":" + secs;
        },

        start : function () {
        // start() : start the stopwatch

        sw.timer = setInterval(sw.tick, 1000);
        sw.ego.value = "Stop";
        sw.ego.removeEventListener("click", sw.start);
        sw.ego.addEventListener("click", sw.stop);
      },

      stop  : function () {
        // stop() : stop the stopwatch

        clearInterval(sw.timer);
        sw.timer = null;
        sw.ego.value = "Start";
        sw.ego.removeEventListener("click", sw.stop);
        sw.ego.addEventListener("click", sw.start);
      },

      reset : function () {
        // reset() : reset the stopwatch

          // Stop if running
          if (sw.timer != null) { sw.stop(); }

          // Reset time
          sw.now = -1;
          sw.tick();
        }
      };
  // end of sw

  window.addEventListener("load", sw.init);
  $(document).ready(function(){
    listing();
  });

  function listing() {
    $.ajax({
      type: "GET",
      url: "/matchoverview",
      data: {},
      success: function(response) {
        let gameStats = response;
        $("#gameStats").html("") // 기존꺼 날려버리기


        // 합계 카운트
        let score1 = 0;
        let score2 = 0;

        let shootOntarget1 = 0;
        let shootOfftarget1 = 0;
        let shootOntarget2 = 0;
        let shootOfftarget2 = 0;


        console.log(gameStats)
        for (let i = 0; i < gameStats.length; i++) {

          if(gameStats[i]["score"] == "득점성공" && gameStats[i]["team"] == "우리팀") score1++;
          if(gameStats[i]["score"] == "득점성공" && gameStats[i]["team"] == "상대팀") score2++;

          if(gameStats[i]["shoot"] == "유효슈팅" && gameStats[i]["team"] == "우리팀") shootOntarget1++;
          if(gameStats[i]["shoot"] == "무효슈팅" && gameStats[i]["team"] == "우리팀") shootOfftarget1++;
          if(gameStats[i]["shoot"] == "유효슈팅" && gameStats[i]["team"] == "상대팀") shootOntarget2++;
          if(gameStats[i]["shoot"] == "무효슈팅" && gameStats[i]["team"] == "상대팀") shootOfftarget2++;

          if(gameStats[i]['score'] == '득점성공') {
            if(gameStats[i]["team"] == "우리팀") {
              let allRecodList = make_recordList_score(gameStats[i], 'success');
              $("#gameStats").append(allRecodList);  
            } else {
              let allRecodList = make_recordList_score(gameStats[i], 'danger');
              $("#gameStats").append(allRecodList);
            }
          } else {
            if(gameStats[i]["team"] == "우리팀") {
              let allRecodList = make_recordList_scoreNot(gameStats[i], 'success');
              $("#gameStats").append(allRecodList);  
            } else {
              let allRecodList = make_recordList_scoreNot(gameStats[i], 'danger');
              $("#gameStats").append(allRecodList);
            }
            // let allRecodList = make_recordList_scoreNot(gameStats[i], 'primary');
            // $("#gameStats").append(allRecodList);
          }
        }

        $("#score1").text(score1)
        $("#score2").text(score2)

        $("#totalShots1").text(shootOntarget1 + shootOfftarget1)
        $("#totalShots2").text(shootOntarget2 + shootOfftarget2)

        $("#shotsOnTarget1").text(shootOntarget1)
        $("#shotsOffTarget1").text(shootOfftarget1)     
        $("#shotsOnTarget2").text(shootOntarget2)
        $("#shotsOffTarget2").text(shootOfftarget2)

        $("#saves1").text(shootOntarget2 - score2)
        $("#saves2").text(shootOntarget1 - score1)
        console.log(response)
      }
    })
  }
// end of listing

function make_recordList_score(recordList, color) {
  return `
  <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action list-group-item-${color}">
  ${recordList["eventTime"]}

  ${recordList["team"]}
  ${recordList["eventType"]} 
  ${recordList["score"]}
  ${recordList["shoot"]}

  ${recordList["playType"]}
  ${recordList["scorePlayer"]}
  ${recordList["scoreArea"]}
  ${recordList["shootMethod"]}
  ${recordList["assistPlayer"]}
  ${recordList["assistArea"]}
  ${recordList["errorOpponent"]}
  ${recordList["setpiece"]}
  ${recordList["bulidupPlayer"]}
  ${recordList["buildupArea"]}

  </a>
  </div>
  `;
}

function make_recordList_scoreNot(recordList, color) {
  return `
  <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action list-group-item-${color}">
  ${recordList["eventTime"]}

  ${recordList["team"]}
  ${recordList["eventType"]} 
  ${recordList["score"]}
  ${recordList["shoot"]}

  ${recordList["shootPlayType"]}
  ${recordList["shootPlayer"]}
  ${recordList["shootArea"]}
  ${recordList["shootshootMethod"]}
  ${recordList["shooterrorOpponent"]}
  ${recordList["shootsetpiece"]}
  ${recordList["keypassPlayer"]}
  ${recordList["keypassArea"]}
  ${recordList["shootBuildupPlayer"]}
  ${recordList["shootBuildupArea"]}

  </a>
  </div>
  `;
}

</script>

</body>

</html>

 <!--  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>

  
  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">This is a primary list group item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">This is a secondary list group item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">This is a success list group item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-danger">This is a danger list group item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">This is a warning list group item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-info">This is a info list group item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-dark">This is a dark list group item</a>
</div> -->