<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- Optional JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
	src="https://cdnjs.cloudf<!doctype html>
	lare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"
	></script>
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"
	></script>

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- 구글폰트 -->
	<link
	href="https://fonts.googleapis.com/css?family=Roboto&display=swap" 
	rel="stylesheet">
	

	<!-- Webpage Title -->
	<title>슈팅 기록</title>

	<style type="text/css">
		* {
			font-family: 'Roboto', sans-serif;
		}
		.wrap {
			width: 500px;
			margin: auto;
		}
		.header {
			margin: 20px 5px 20px 5px;
			text-align: center;
		}
		.SubHeader {
			margin: 20px 5px 20px 5px;
		}
		.button {
			text-align: right;
		}
		h1, h2, h3, h4
		h5 {
			display: inline;
		}
		.contents {
			text-align: auto;
		}
		.hidden { display: none;
		}

		#socreDetail {
			display: none
		}

		#shootDetail {
			display: none
		}

		/*#playType {
			display: none;
		}
		#scoreInfo {
			display: none;
		}
		#assistInfo {
			display: none;
		}
		#buildupInfo {
			display: none;
			}*/

		/*#shootPlayType {
			display: none;
		}
		#shootInfo {
			display: none;
		}
		#shootType {
			display: none;
		}
		#keypassInfo {
			display: none;
		}
		#shootBuildupInfo {
			display: none;
			}*/

			/*타이버*/
			#stopwatch {
				background: #eee;
				border: 1px solid #999;
				padding: 10px;
				border-radius: 10px;
				max-width:280px;
				margin-bottom: 20px;
				margin-left: auto;
				margin-right: auto;
			}
			#sw-time {
				font-size: 40px;
				font-weight: bold;
				text-align: center;
			}
			#sw-rst, #sw-go {
				width: 120px;
				box-sizing: padding-box;
				padding: 10px;
				display: inline-block;
				background: #aa2f2f;
				border: 0;
				color: #fff;
			}
		</style>

		<link href="stopwatch.css" rel="stylesheet">
		<script src="stopwatch.js"></script>

<!-- <script language="JavaScript">
       function setVisibility(id, visibility) {
       document.getElementById(id).style.display = visibility;
       }
   </script> -->


   <!-- 초기화 / 초기데이터 (ajax, GET, let = "players"변수에 넣기) / 각종 하이드 -->
   <script>

   	// $(document).ready(function () {
   	// 	$("#playType").hide();
   	// 	$("#shootType").hide();
   	// 	$("#scoreInfo").hide();
   	// 	$("#assistInfo").hide();
   	// 	$("#buildupInfo").hide();
   	// })

   	// 	loadPlayerList();
   	// })

   	// function loadPlayerList() {
   	// 	$.ajax({
   	// 		url: '/playerList',
   	// 		method: 'GET',
   	// 		data : {},
   	// 		success: function (response) {
   	// 			response = [
   	// 			'A', 'B', 'C'
   	// 			]

   	// 			$('#playerList').html('');
   	// 			for(let player: response) {
   	// 				$('#playerList').append(
   	// 					`<li>${player}</li>`
   	// 					)
   	// 			}
   	// 		}
   	// 	})
   	// }


   </script>


</head>


<body>

	<div class = "wrap">
		<!-- 헤더 -->
		<div class="header">
			<button type="button" class="btn btn-primary">
				BACK
			</button>
			GAME STAT +
			<button onclick="record_event()" type="button" class="btn btn-primary">
				CONFIRM
			</button>
		</div>

		<!-- 타이머 -->
<!-- 		<h5 class="form-group">
			<button onclick="gamestart_event()" type="button" class="btn btn-primary">Game Start</button>
			<span id="minutes"></span>:<span id="seconds"></span>
		</h5>
 -->

		<div id="stopwatch">
			<!-- [DISPLAY TIMER] -->
			<div id="sw-time">00:00:00</div>
			<!-- [RESET BUTTON] -->
			<input type="button" value="Reset" id="sw-rst" disabled/>
			<!-- [START/STOP BUTTON] -->
			<input type="button" value="Start" id="sw-go" disabled/>
		</div>


		<!-- 이벤트 타입 -->
		<div class="input-group mb-3">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-outline-primary active">
					<input 
					type="radio" 
					name="eventType" 
					id="eventType1" 
					autocomplete="off" 
					checked
					value="슈팅"/> 
					슈팅
				</label>

				<label class="btn btn-outline-primary">
					<input 
					type="radio" 
					name="eventType" 
					id="eventType2" 
					autocomplete="off"
					value="파울"/>
					파울
				</label>

				<label class="btn btn-outline-primary">
					<input 
					type="radio" 
					name="eventType" 
					id="eventType3" 
					autocomplete="off"
					value="코너킥"/>
					코너킥
				</label>

				<label class="btn btn-outline-primary">
					<input 
					type="radio" 
					name="eventType" 
					id="eventType4" 
					autocomplete="off"
					value="오프사이드"/>
					오프사이드
				</label>
			</div>
		</div>

		<!-- 팀선택 -->
		<div class="input-group mb-3" >
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-outline-primary">
					<input type="radio" 
					name="team" 
					id="team1" 
					autocomplete="off"
					value="우리팀"/>
					우리팀
				</label>

				<label class="btn btn-outline-primary">
					<input 
					type="radio" 
					name="team" 
					id="team2" 
					autocomplete="off"
					value="상대팀"/>
					상대팀
				</label>
			</div>
		</div>

		<!-- 득점유무 -->
		<div class="input-group mb-3" id="score">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-outline-primary" onclick="scored()">
					<input 
					type="radio" 
					name="score" 
					id="score1" 
					autocomplete="off"
					value="득점성공"/>
					득점성공
				</label>

				<label class="btn btn-outline-primary" onclick="scoredNot()">
					<input 
					type="radio" 
					name="score" 
					id="score2" 
					autocomplete="off"
					value="득점실패"/>
					득점실패
				</label>
			</div>
		</div>

		<!-- 슈팅유형 -->
		<div class="input-group mb-3" id="shootType">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-outline-primary">
					<input 
					type="radio" 
					name="shoot"
					id="shoot1"
					autocomplete="off" 
					value="유효슈팅"/>
					유효슈팅
				</label>

				<label class="btn btn-outline-primary">
					<input 
					type="radio"
					name="shoot"
					id="shoot2"
					autocomplete="off"
					value="무효슈팅"/>
					무효슈팅
				</label>
			</div>
		</div>


		<!-- 선택사항 -->
		<div class="form-group" id="optional">
			<hr>
			<p>선택사항</p>

			<!-- 득점관련 세부정보 -->
			<div class="form-group" id="socreDetail">

				<!-- 플레이타입 -->
				<div class="input-group mb-3" id="playType">
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-outline-primary">
							<input 
							type="radio" 
							name="playType" 
							id="playType1" 
							autocomplete="off"
							value="필드골"/>
							필드골
						</label>
						<label class="btn btn-outline-primary">
							<input 
							type="radio" 
							name="playType" 
							id="playType2" 
							autocomplete="off"
							value="프리킥골"/>
							프리킥골
						</label>
						<label class="btn btn-outline-primary">
							<input 
							type="radio" 
							name="playType" 
							id="playType3" 
							autocomplete="off"
							value="자책골"/>
							자책골
						</label>
					</div>
				</div>

				<!-- 득점정보 -->
				<div class="form-group" id="scoreInfo">

					<div class="input-group mb-3">
						<label class="input-group-text" for="inputGroupSelect01">득점정보</label>
						<select class="custom-select" name="scorePlayer" id="scorePlayer">
							<option selected>득점선수</option>
							<option value="No.1">No.1</option>
							<option value="No.2">No.2</option>
							<option value="No.3">No.3</option>
						</select>

						<select class="custom-select" name="scoreArea" id="scoreArea">
							<option selected>득점위치</option>
							<option value="#1">#1</option>
							<option value="#2">#2</option>
							<option value="#3">#3</option>
						</select>

						<div class="input-group mb-3" id="shootMethod">
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
								<label class="btn btn-outline-primary">
									<input 
									type="radio" 
									name="shootMethod" 
									id="shootMethod1" 
									autocomplete="off"
									value="오른발"/>
									오른발
								</label>
								<label class="btn btn-outline-primary">
									<input 
									type="radio" 
									name="shootMethod" 
									id="shootMethod2" 
									autocomplete="off"
									value="왼발"/>
									왼발
								</label>
								<label class="btn btn-outline-primary">
									<input 
									type="radio" 
									name="shootMethod" 
									id="shootMethod3" 
									autocomplete="off"
									value="헤더"/>
									헤더
								</label>
								<label class="btn btn-outline-primary">
									<input 
									type="radio" 
									name="shootMethod" 
									id="shootMethod4" 
									autocomplete="off"
									value="기타"/>
									기타
								</label>
							</div>
						</div>
					</div>
				</div>

				<!-- 도움정보 -->
				<div class="form-group" id="assistInfo">
					<div class="input-group mb-3">
						<label class="input-group-text" for="inputGroupSelect01">도움정보</label>
						<select class="custom-select" name="assistPlayer" id="assistPlayer">
							<option selected>도움선수</option>
							<option value="No.1">No.1</option>
							<option value="No.2">No.2</option>
							<option value="No.3">No.3</option>
						</select>

						<select class="custom-select" name="assistArea" id="assistArea">
							<option selected>도움위치</option>
							<option value="#1">#1</option>
							<option value="#2">#2</option>
							<option value="#3">#3</option>
						</select>

						<div class="input-group mb-3" >
							<div class="btn-group btn-group-toggle" data-toggle="buttons" id="otherInfo">
								<label class="btn btn-outline-primary">
									<input 
									type="checkbox" 
									name="errorOpponent" 
									id="errorOpponent1" 
									autocomplete="off"
									value="상대실책"/>
									상대실책성 플레이
								</label>
								<label class="btn btn-outline-primary">
									<input 
									type="checkbox" 
									name="setpiece" 
									id="setpiece1" 
									autocomplete="off"
									value="세트피스"/>
									세트피스 플레이
								</label>
							</div>
						</div>
					</div>
				</div>

				<!-- 빌드업정보 -->
				<div class="form-group">
					<div class="form-group" id="buildupInfo">
						<div class="input-group mb-3">
							<label class="input-group-text" for="inputGroupSelect01">빌드업 정보</label>
							<select class="custom-select" name="bulidupPlayer" id="bulidupPlayer">
								<option selected>빌드업선수</option>
								<option value="No.1">No.1</option>
								<option value="No.2">No.2</option>
								<option value="No.3">No.3</option>
							</select>

							<select class="custom-select" name="buildupArea" id="buildupArea">
								<option selected>빌드업위치</option>
								<option value="#1">#1</option>
								<option value="#2">#2</option>
								<option value="#3">#3</option>
							</select>
						</div>
					</div>
				</div>

			</div>

			<!-- 슈팅관련 세부정보 -->
			<div class="form-group" id="shootDetail">

				<!-- 슈팅 플레이 정보 -->
				<div class="input-group mb-3" id=shootPlayType>
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-outline-primary">
							<input type="radio" name="shootPlayType" id="shootPlayType1" autocomplete="off" value="필드플레이"/> 필드플레이
						</label>
						<label class="btn btn-outline-primary">
							<input type="radio" name="shootPlayType" id="shootPlayType2" autocomplete="off" value="프리킥플레이"/> 프리킥플레이
						</label>
					</div>
				</div>

				<!-- 슈팅정보 -->
				<div class="form-group">
					<div class="form-group" id="shootInfo">
						<div class="input-group mb-3">
							<label class="input-group-text" for="inputGroupSelect01">슈팅정보</label>
							<select class="custom-select" name="shootPlayer">
								<option selected>슈팅선수</option>
								<option value="No.1">No.1</option>
								<option value="No.2">No.2</option>
								<option value="No.3">No.3</option>
							</select>

							<select class="custom-select" name="shootArea">
								<option selected>슈팅위치</option>
								<option value="#1">#1</option>
								<option value="#2">#2</option>
								<option value="#3">#3</option>
							</select>

							<div class="input-group mb-3" id="shootMethod">
								<div class="btn-group btn-group-toggle" data-toggle="buttons">
									<label class="btn btn-outline-primary">
										<input 
										type="radio" 
										name="shootMethod" 
										id="shootMethod1" 
										autocomplete="off"
										value="오른발"/>
										오른발
									</label>
									<label class="btn btn-outline-primary">
										<input 
										type="radio" 
										name="shootMethod" 
										id="shootMethod2" 
										autocomplete="off"
										value="왼발"/>
										왼발
									</label>
									<label class="btn btn-outline-primary">
										<input 
										type="radio" 
										name="shootMethod" 
										id="shootMethod3" 
										autocomplete="off"
										value="헤더"/>
										헤더
									</label>
									<label class="btn btn-outline-primary">
										<input 
										type="radio" 
										name="shootMethod" 
										id="shootMethod4" 
										autocomplete="off"
										value="기타"/>
										기타
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 키패스 정보 -->
				<div class="form-group">
					<div class="form-group" id="keypassInfo">
						<div class="input-group mb-3">
							<label class="input-group-text" for="inputGroupSelect01">키패스</label>
							<select class="custom-select" name="keypassPlayer">
								<option selected>키패스선수</option>
								<option value="No.1">No.1</option>
								<option value="No.2">No.2</option>
								<option value="No.3">No.3</option>
							</select>

							<select class="custom-select" name="keypassArea">
								<option selected>도움위치</option>
								<option value="#1">#1</option>
								<option value="#2">#2</option>
								<option value="#3">#3</option>
							</select>

							<div class="input-group mb-3" >
								<div class="btn-group btn-group-toggle" data-toggle="buttons" id="otherInfo">
									<label class="btn btn-outline-primary">
										<input 
										type="checkbox" 
										name="errorOpponent" 
										id="errorOpponent1" 
										autocomplete="off"
										value="상대실책"/>
										상대실책성 플레이
									</label>
									<label class="btn btn-outline-primary">
										<input 
										type="checkbox" 
										name="setpiece" 
										id="setpiece1" 
										autocomplete="off"
										value="세트피스"/>
										세트피스 플레이
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 빌드업정 -->
				<div class="form-group">
					<div class="form-group" id="shootBuildupInfo">
						<div class="input-group mb-3">
							<label class="input-group-text" for="inputGroupSelect01">빌드업 정보</label>
							<select class="custom-select" name="shootBuildupPlayer">
								<option selected>빌드업선수</option>
								<option value="No.1">No.1</option>
								<option value="No.2">No.2</option>
								<option value="No.3">No.3</option>
							</select>

							<select class="custom-select" name="shootBuildupArea">
								<option selected>빌드업위치</option>
								<option value="#1">#1</option>
								<option value="#2">#2</option>
								<option value="#3">#3</option>
							</select>
						</div>
					</div>
				</div>	

			</div>

		</div>



		<script>
					// $(document).ready(function(){	
					// 	listing();
					// 	$("#optional").hide();
					// });

		  	// 타이머
		   	// function gamestart_event() {
		   	// 	var sec = 0;
		   	// 	function pad ( val ) { return val > 9 ? val : "0" + val; }
		   	// 	setInterval( function(){
		   	// 		$("#seconds").html(pad(++sec%60));
		   	// 		$("#minutes").html(pad(parseInt(sec/60,10)));
		   	// 	}, 1000);
		   	// }

		   	var sw = {
		   		/* [INIT] */
			  etime : null, // holds HTML time display
			  erst : null, // holds HTML reset button
			  ego : null, // holds HTML start/stop button
			  timer : null, // timer object
			  now : 0, // current timer
			  init : function () {
			    // Get HTML elements
			    sw.etime = document.getElementById("sw-time");
			    sw.erst = document.getElementById("sw-rst");
			    sw.ego = document.getElementById("sw-go");

			    // Attach listeners
			    sw.erst.addEventListener("click", sw.reset);
			    sw.erst.disabled = false;
			    sw.ego.addEventListener("click", sw.start);
			    sw.ego.disabled = false;
			},

			/* [ACTIONS] */
			tick : function () {
			  // tick() : update display if stopwatch running

			    // Calculate hours, mins, seconds
			    sw.now++;
			    var remain = sw.now;
			    var hours = Math.floor(remain / 3600);
			    remain -= hours * 3600;
			    var mins = Math.floor(remain / 60);
			    remain -= mins * 60;
			    var secs = remain;

			    // Update the display timer
			    if (hours<10) { hours = "0" + hours; }
			    if (mins<10) { mins = "0" + mins; }
			    if (secs<10) { secs = "0" + secs; }
			    sw.etime.innerHTML = hours + ":" + mins + ":" + secs;
			},

			start : function () {
			  // start() : start the stopwatch

			  sw.timer = setInterval(sw.tick, 1000);
			  sw.ego.value = "Stop";
			  sw.ego.removeEventListener("click", sw.start);
			  sw.ego.addEventListener("click", sw.stop);
			},

			stop  : function () {
			  // stop() : stop the stopwatch

			  clearInterval(sw.timer);
			  sw.timer = null;
			  sw.ego.value = "Start";
			  sw.ego.removeEventListener("click", sw.stop);
			  sw.ego.addEventListener("click", sw.start);
			},

			reset : function () {
			  // reset() : reset the stopwatch

			    // Stop if running
			    if (sw.timer != null) { sw.stop(); }

			    // Reset time
			    sw.now = -1;
			    sw.tick();
			}
		};

		window.addEventListener("load", sw.init);


			// 득점성공
			function scored() {
				console.log("scored")
				$('#shootDetail').hide();
				$('#socreDetail').show();

				// $("#shootType").show();
				// $("#playType").show();
				// $("#scoreInfo").show();
				// $("#assistInfo").show();
				// $("#buildupInfo").show();
				// $("#playType1").prop('checked', true)

			}

			// 득점실패
			function scoredNot() {
				console.log("scoredNot")
				$('#socreDetail').hide();
				$('#shootDetail').show();

				// $("#shootType").show();
				// $("#shootPlayType").show();
				// $("#shootInfo").show();
				// $("#keypassInfo").show();
				// $("#shootBuildupInfo").show();

			}
			

			function record_event() {
				// 타이머
				let input_eventTime = $("#sw-time").val();

				let input_eventType = $("input[name='eventType']:checked").val();
				let input_team = $("input[name='team']:checked").val();
				let input_score = $("input[name='score']:checked").val();
				let input_shoot = $("input[name='shoot']:checked").val();
				let input_playType = $("input[name='playType']:checked").val();
				let input_shootMethod = $("input[name='shootMethod']:checked").val();

				// 선택사항
					// 득점성공
					let input_scorePlayer = $("#scorePlayer").val();
					let input_scoreArea = $("#scoreArea").val();
					let input_assistPlayer = $("#assistPlayer").val();
					let input_assistArea = $("#assistArea").val();
					let input_errorOpponent = $("input[name='errorOpponent']:checked").val();
					let input_setpiece = $("input[name='setpiece']:checked").val();
					let input_bulidupPlayer = $("#bulidupPlayer").val();
					let input_buildupArea = $("#buildupArea").val();


					// 득점실패
					let input_shootPlayType = $("input[name='shootPlayType']:checked").val();
					let input_shootPlayer = $("input[name='shootPlayer']:checked").val();
					let input_shootArea = $("input[name='shootArea']:checked").val();
					let input_keypassPlayer = $("input[name='keypassPlayer']:checked").val();
					let input_keypassArea = $("input[name='keypassArea']:checked").val();
					let input_shootBuildupPlayer = $("input[name='shootBuildupPlayer']:checked").val();
					let input_shootBuildupArea = $("input[name='shootBuildupArea']:checked").val();


				// 여기까지 되는지 확인하기위해서
				// let a = {
				// 		eventType: input_eventType || "",
				// 		team: input_team || "",
				// 		score: input_score || "",
				// 		shoot: input_shoot || "",
				// 		playType: input_playType || "",
				// 		shootMethod: input_shootMethod || "",
				// 		errorOpponent: input_errorOpponent || "",	
				// 		setpiece: input_setpiece || ""

				// 	}

				// 	console.log(a);

				$.ajax({
					type: "POST",
					url: "/gamestat",
					data: {
						eventTime: input_eventTime || "",
						eventType: input_eventType || "",
						team: input_team || "",
						score: input_score || "",
						shoot: input_shoot || "",
						playType: input_playType || "",
						shootMethod: input_shootMethod || "",
						
					// 선택사항
						// 득점성공
						scorePlayer: input_scorePlayer || "",
						scoreArea: input_scoreArea || "",
						assistPlayer: input_assistPlayer || "",
						assistArea: input_assistArea || "",
						errorOpponent: input_errorOpponent || "",	
						setpiece: input_setpiece || "",
						bulidupPlayer: input_bulidupPlayer || "",	
						buildupArea: input_buildupArea || "",

						//득점실패
						shootPlayType: input_shootPlayType || "",
						shootPlayer: input_shootPlayer || "",
						shootArea: input_shootArea || "",
						keypassPlayer: input_keypassPlayer || "",
						keypassArea: input_keypassArea || "",
						shootBuildupPlayer: input_shootBuildupPlayer || "",
						shootBuildupArea: input_shootBuildupArea || ""


					},
					success: function(response){
						window.location.reload()
					}
				});
			}
		</script>

	</body>

	</html>











	<script>
/*
	
			<!-- 슈팅관련 세부정보 -->
			<!-- 슈팅 플레이 정보 -->
			<p>Optional 선택사항 (슈팅)</p>
			<div class="input-group mb-3" >
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-outline-primary">
						<input type="radio" name="options" id="option1" autocomplete="off"> 필드 플레이
					</label>
					<label class="btn btn-outline-primary">
						<input type="radio" name="options" id="option2" autocomplete="off"> 프리킥 플레이
					</label>
				</div>
			</div>

			<!-- 슈팅정보 -->
			<div class="form-group">
				<div class="input-group mb-3">
					<label class="input-group-text" for="inputGroupSelect01">슈팅정보</label>
					<input type="text" class="form-control" placeholder="슈팅선수">
					<input type="text" class="form-control" placeholder="슈팅위치">

					<div class="input-group mb-3" >
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-outline-primary">
								<input type="radio" name="options" id="option1" autocomplete="off"> 오른발
							</label>
							<label class="btn btn-outline-primary">
								<input type="radio" name="options" id="option2" autocomplete="off"> 왼발
							</label>
							<label class="btn btn-outline-primary">
								<input type="radio" name="options" id="option3" autocomplete="off"> 헤더
							</label>
							<label class="btn btn-outline-primary">
								<input type="radio" name="options" id="option4" autocomplete="off"> 기타
							</label>
						</div>
					</div>
				</div>


				<!-- 도움정보 -->
				<div class="form-group">
					<div class="input-group mb-3">					
						<label class="input-group-text" for="inputGroupSelect01">키패스정보</label>
						<input type="text" class="form-control" placeholder="키패스선수">
						<input type="text" class="form-control" placeholder="키패스위치">

						<div class="input-group mb-3" >
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
								<label class="btn btn-outline-primary">
									<input type="checkbox" name="options" id="option1" autocomplete="off"> 상대실책성 플레이
								</label>
								<label class="btn btn-outline-primary">
									<input type="checkbox" name="options" id="option2" autocomplete="off"> 세트피스 플레이
								</label>
							</div>
						</div>
					</div>

					<!-- 빌드업정 -->
					<div class="form-group">
						<div class="input-group mb-3">
							<label class="input-group-text" for="inputGroupSelect01">빌드업 정보</label>
							<input type="text" class="form-control" placeholder="빌드업시작 선수">
							<input type="text" class="form-control" placeholder="빌드업시작 위치">
						</div>
					</div>
				</div>
				*/
			</script>