<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- Optional JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
	src="https://cdnjs.cloudf<!doctype html>
	lare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"
	></script>
	<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"
	></script>

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- 구글폰트 -->
	<link
	href="https://fonts.googleapis.com/css?family=Roboto&display=swap" 
	rel="stylesheet">
	

	<!-- Webpage Title -->
	<title>슈팅 기록</title>

	<style type="text/css">
		* {
			font-family: 'Roboto', sans-serif;
		}
		.wrap {
			width: 500px;
			margin: auto;
		}
		.header {
			margin: 20px 5px 20px 5px;
			text-align: center;
		}
		.SubHeader {
			margin: 20px 5px 20px 5px;
			text-align: center;
		}
		.button {
			text-align: right;
		}
		h1, h2, h3, h4
		h5 {
			display: inline;
		}
		.contents {
			text-align: auto;
		}
		.hidden { display: none;
		}

		#score {
			display: none
		}

		#shootType {
			display: none
		}		

		#socreDetail {
			display: none
		}

		#shootDetail {
			display: none
		}

		#conerkickDetail {
			display: none
		}

		#offsideDetail {
			display: none
		}

		#foulDetail {
			display: none
		}

		/*#playType {
			display: none;
		}
		#scoreInfo {
			display: none;
		}
		#assistInfo {
			display: none;
		}
		#buildupInfo {
			display: none;
			}*/

		/*#shootPlayType {
			display: none;
		}
		#shootInfo {
			display: none;
		}
		#shootType {
			display: none;
		}
		#keypassInfo {
			display: none;
		}
		#shootBuildupInfo {
			display: none;
			}*/

			/*타이버*/
			#stopwatch {
				background: #eee;
				border: 1px solid #999;
				padding: 10px;
				border-radius: 10px;
				max-width:280px;
				margin-bottom: 20px;
				margin-left: auto;
				margin-right: auto;
			}
			#sw-time {
				font-size: 40px;
				font-weight: bold;
				text-align: center;
			}
			#sw-rst, #sw-go {
				width: 120px;
				box-sizing: padding-box;
				padding: 10px;
				display: inline-block;
				background: #aa2f2f;
				border: 0;
				color: #fff;
			}
		</style>

		<link href="stopwatch.css" rel="stylesheet">
		<script src="stopwatch.js"></script>

<!-- <script language="JavaScript">
       function setVisibility(id, visibility) {
       document.getElementById(id).style.display = visibility;
       }
   </script> -->


   <!-- 초기화 / 초기데이터 (ajax, GET, let = "players"변수에 넣기) / 각종 하이드 -->
   <script>

   	$(document).ready(function () {
   		let type = getParameterByName('type');
   		let time = getParameterByName('time');

   		$('#sw_time').html(time);

   		console.log(type);

   		if (type == 'shooting') {
   		//슈팅선택
   		$("input:radio[name='eventType']:radio[value='슈팅']").attr("checked", true);
   		console.log('mingi')
   	} else if(type =='foul'){

   	}
   })


   	// 	loadPlayerList();
   	// })

   	// function loadPlayerList() {
   	// 	$.ajax({
   	// 		url: '/playerList',
   	// 		method: 'GET',
   	// 		data : {},
   	// 		success: function (response) {
   	// 			response = [
   	// 			'A', 'B', 'C'
   	// 			]

   	// 			$('#playerList').html('');
   	// 			for(let player: response) {
   	// 				$('#playerList').append(
   	// 					`<li>${player}</li>`
   	// 					)
   	// 			}
   	// 		}
   	// 	})
   	// }


   </script>


</head>


<body>

	<div class = "wrap">

		<!-- 헤더 -->
		<div class="header">
			<button type="button" class="btn btn-primary">
				BACK
			</button>
			GAME STAT +
			<button onclick="record_event()" type="button" class="btn btn-primary">
				CONFIRM
			</button>
		</div>

		<!-- 기본사항 -->

		<!-- 이벤크 발생 시간 -->
		<div class= "SubHeader" id="event_time">
			<a href="#" id="sw_time" class="list-group-item list-group-item-action">00:00:00</a>
		</div>

		<!-- 이벤트 타입 -->
		<div class="input-group mb-3">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-outline-primary" onclick="shootEvent()">
					<input 
					type="radio" 
					name="eventType" 
					id="eventType1" 
					autocomplete="off" 
					value="슈팅"/> 
					슈팅
				</label>

				<label class="btn btn-outline-primary" onclick="conerkickEvent()">
					<input 
					type="radio" 
					name="eventType" 
					id="eventType3" 
					autocomplete="off"
					value="코너킥"/>
					코너킥
				</label>

				<label class="btn btn-outline-primary" onclick="offsideFoulEvent()">
					<input 
					type="radio" 
					name="eventType" 
					id="eventType4" 
					autocomplete="off"
					value="오프사이드"/>
					오프사이드
				</label>

				<label class="btn btn-outline-primary" onclick="foulEvent()">
					<input 
					type="radio" 
					name="eventType" 
					id="eventType2" 
					autocomplete="off"
					value="파울"/>
					파울
				</label>
			</div>
		</div>

		<!-- 팀선택 -->
		<div class="input-group mb-3" >
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-outline-primary">
					<input type="radio" 
					name="team" 
					id="team1" 
					autocomplete="off"
					value="우리팀"/>
					우리팀
				</label>

				<label class="btn btn-outline-primary">
					<input 
					type="radio" 
					name="team" 
					id="team2" 
					autocomplete="off"
					value="상대팀"/>
					상대팀
				</label>
			</div>

		</div>

		<!-- 상세사항 -->
		<hr> 

		<!-- 슈팅 세부정보-->
		<div id="shootingDetail">

			<!-- 득점유무 -->
			<div class="input-group mb-3" id="score">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-outline-primary" onclick="scored()">
						<input 
						type="radio" 
						name="score" 
						id="score1" 
						autocomplete="off"
						value="득점성공"/>
						득점성공
					</label>

					<label class="btn btn-outline-primary" onclick="scoredNot()">
						<input 
						type="radio" 
						name="score" 
						id="score2" 
						autocomplete="off"
						value="득점실패"/>
						득점실패
					</label>
				</div>

			</div>

			<!-- 슈팅유형 -->
			<div class="input-group mb-3" id="shootType">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-outline-primary">
						<input 
						type="radio" 
						name="shoot"
						id="shoot1"
						autocomplete="off" 
						value="유효슈팅"/>
						유효슈팅
					</label>

					<label class="btn btn-outline-primary">
						<input 
						type="radio"
						name="shoot"
						id="shoot2"
						autocomplete="off"
						value="무효슈팅"/>
						무효슈팅
					</label>
				</div>

			</div>

			<!-- 득점 세부정보 -->
			<div class="form-group" id="socreDetail">

				<!-- 플레이타입 -->
				<div class="input-group mb-3" id="playType">
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-outline-primary">
							<input 
							type="radio" 
							name="playType" 
							id="playType1" 
							autocomplete="off"
							value="필드골"/>
							필드골
						</label>
						<label class="btn btn-outline-primary">
							<input 
							type="radio" 
							name="playType" 
							id="playType2" 
							autocomplete="off"
							value="프리킥골"/>
							프리킥골
						</label>
						<label class="btn btn-outline-primary">
							<input 
							type="radio" 
							name="playType" 
							id="playType3" 
							autocomplete="off"
							value="자책골"/>
							자책골
						</label>
					</div>
				</div>

				<!-- 득점정보 -->
				<div class="form-group" id="scoreInfo">

					<div class="input-group mb-3">
						<label class="input-group-text" for="inputGroupSelect01">득점정보</label>
						<select class="custom-select" name="scorePlayer" id="scorePlayer">
							<option>득점선수</option>
							<option value="No.1">No.1</option>
							<option value="No.2">No.2</option>
							<option value="No.3">No.3</option>
						</select>

						<select class="custom-select" name="scoreArea" id="scoreArea">
							<option>득점위치</option>
							<option value="#1">#1</option>
							<option value="#2">#2</option>
							<option value="#3">#3</option>
						</select>

						<div class="input-group mb-3" id="shootMethod">
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
								<label class="btn btn-outline-primary">
									<input 
									type="radio" 
									name="shootMethod" 
									id="shootMethod1" 
									autocomplete="off"
									value="오른발"/>
									오른발
								</label>
								<label class="btn btn-outline-primary">
									<input 
									type="radio" 
									name="shootMethod" 
									id="shootMethod2" 
									autocomplete="off"
									value="왼발"/>
									왼발
								</label>
								<label class="btn btn-outline-primary">
									<input 
									type="radio" 
									name="shootMethod" 
									id="shootMethod3" 
									autocomplete="off"
									value="헤더"/>
									헤더
								</label>
								<label class="btn btn-outline-primary">
									<input 
									type="radio" 
									name="shootMethod" 
									id="shootMethod4" 
									autocomplete="off"
									value="기타"/>
									기타
								</label>
							</div>
						</div>
					</div>
				</div>

				<!-- 도움정보 -->
				<div class="form-group" id="assistInfo">
					<div class="input-group mb-3">
						<label class="input-group-text" for="inputGroupSelect01">도움정보</label>
						<select class="custom-select" name="assistPlayer" id="assistPlayer">
							<option>도움선수</option>
							<option value="No.1">No.1</option>
							<option value="No.2">No.2</option>
							<option value="No.3">No.3</option>
						</select>

						<select class="custom-select" name="assistArea" id="assistArea">
							<option>도움위치</option>
							<option value="#1">#1</option>
							<option value="#2">#2</option>
							<option value="#3">#3</option>
						</select>

						<div class="input-group mb-3" >
							<div class="btn-group btn-group-toggle" data-toggle="buttons" id="otherInfo">
								<label class="btn btn-outline-primary">
									<input 
									type="checkbox" 
									name="errorOpponent" 
									id="errorOpponent1" 
									autocomplete="off"
									value="상대실책"/>
									상대실책성 플레이
								</label>
								<label class="btn btn-outline-primary">
									<input 
									type="checkbox" 
									name="setpiece" 
									id="setpiece1" 
									autocomplete="off"
									value="세트피스"/>
									세트피스 플레이
								</label>
							</div>
						</div>
					</div>
				</div>

				<!-- 빌드업정보 -->
				<div class="form-group">
					<div class="form-group" id="buildupInfo">
						<div class="input-group mb-3">
							<label class="input-group-text" for="inputGroupSelect01">빌드업 정보</label>
							<select class="custom-select" name="bulidupPlayer" id="bulidupPlayer">
								<option>빌드업선수</option>
								<option value="No.1">No.1</option>
								<option value="No.2">No.2</option>
								<option value="No.3">No.3</option>
							</select>

							<select class="custom-select" name="buildupArea" id="buildupArea">
								<option>빌드업위치</option>
								<option value="#1">#1</option>
								<option value="#2">#2</option>
								<option value="#3">#3</option>
							</select>
						</div>
					</div>
				</div>

			</div>

			<!-- 슈팅 세부정보 -->
			<div class="form-group" id="shootDetail">

				<!-- 슈팅 플레이 정보 -->
				<div class="input-group mb-3" id=shootPlayType>
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-outline-primary">
							<input type="radio" name="shootPlayType" id="shootPlayType1" autocomplete="off" value="필드플레이"/> 필드플레이
						</label>
						<label class="btn btn-outline-primary">
							<input type="radio" name="shootPlayType" id="shootPlayType2" autocomplete="off" value="프리킥플레이"/> 프리킥플레이
						</label>
					</div>
				</div>

				<!-- 슈팅정보 -->
				<div class="form-group" id="shootInfo">

					<div class="input-group mb-3">
						<label class="input-group-text" for="inputGroupSelect01">슈팅정보</label>
						<select class="custom-select" name="shootPlayer" id="shootPlayer">
							<option>슈팅선수</option>
							<option value="No.1">No.1</option>
							<option value="No.2">No.2</option>
							<option value="No.3">No.3</option>
						</select>

						<select class="custom-select" name="shootArea" id="shootArea">
							<option>슈팅위치</option>
							<option value="#1">#1</option>
							<option value="#2">#2</option>
							<option value="#3">#3</option>
						</select>

						<div class="input-group mb-3" id="shootshootMethod">
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
								<label class="btn btn-outline-primary">
									<input 
									type="radio" 
									name="shootshootMethod" 
									id="shootshootMethod1" 
									autocomplete="off"
									value="오른발"/>
									오른발
								</label>
								<label class="btn btn-outline-primary">
									<input 
									type="radio" 
									name="shootshootMethod" 
									id="shootshootMethod2" 
									autocomplete="off"
									value="왼발"/>
									왼발
								</label>
								<label class="btn btn-outline-primary">
									<input 
									type="radio" 
									name="shootshootMethod" 
									id="shootshootMethod3" 
									autocomplete="off"
									value="헤더"/>
									헤더
								</label>
								<label class="btn btn-outline-primary">
									<input 
									type="radio" 
									name="shootshootMethod" 
									id="shootshootMethod4" 
									autocomplete="off"
									value="기타"/>
									기타
								</label>
							</div>
						</div>

					</div>
				</div>

				<!-- 키패스 정보 -->
				<div class="form-group" id="keypassInfo">
					<div class="input-group mb-3">
						<label class="input-group-text" for="inputGroupSelect01">키패스</label>
						<select class="custom-select" name="keypassPlayer" id="keypassPlayer">
							<option>키패스선수</option>
							<option value="No.1">No.1</option>
							<option value="No.2">No.2</option>
							<option value="No.3">No.3</option>
						</select>

						<select class="custom-select" name="keypassArea" id="keypassArea">
							<option>도움위치</option>
							<option value="#1">#1</option>
							<option value="#2">#2</option>
							<option value="#3">#3</option>
						</select>

						<div class="input-group mb-3" >
							<div class="btn-group btn-group-toggle" data-toggle="buttons" id="otherInfo">
								<label class="btn btn-outline-primary">
									<input 
									type="checkbox" 
									name="shooterrorOpponent" 
									id="errorOpponent1" 
									autocomplete="off"
									value="상대실책"/>
									상대실책성 플레이
								</label>
								<label class="btn btn-outline-primary">
									<input 
									type="checkbox" 
									name="shootsetpiece" 
									id="setpiece1" 
									autocomplete="off"
									value="세트피스"/>
									세트피스 플레이
								</label>
							</div>
						</div>
					</div>
				</div>


				<!-- 빌드업정 -->
				<div class="form-group" id="shootBuildupInfo">
					<div class="input-group mb-3">
						<label class="input-group-text" for="inputGroupSelect01">빌드업 정보</label>
						<select class="custom-select" name="shootBuildupPlayer" id="shootBuildupPlayer">
							<option>빌드업선수</option>
							<option value="No.1">No.1</option>
							<option value="No.2">No.2</option>
							<option value="No.3">No.3</option>
						</select>

						<select class="custom-select" name="shootBuildupArea" id="shootBuildupArea">
							<option>빌드업위치</option>
							<option value="#1">#1</option>
							<option value="#2">#2</option>
							<option value="#3">#3</option>
						</select>
					</div>
				</div>

			</div>

		</div>

		<!-- 코너킥 세부정보 -->
		<div class="form-group" id="conerkickDetail">

			<!-- 코너킥 위치선택 -->
			<div class="input-group mb-3" >
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-outline-primary">
						<input type="radio" name="cornerkick" id="cornerkick1" autocomplete="off" value="오른쪽"> 오른쪽
					</label>
					<label class="btn btn-outline-primary">
						<input type="radio" name="cornerkick" id="cornerkick2" autocomplete="off" value="왼쪽"> 왼쪽
					</label>
				</div>
			</div>

			<div class="input-group mb-3">
				<label class="input-group-text" for="inputGroupSelect01">코너킥정보</label>
				<select class="custom-select" name="kicker" id="kicker">
					<option>키커</option>
					<option value="No.1">No.1</option>
					<option value="No.2">No.2</option>
					<option value="No.3">No.3</option>
				</select>
			</div>

		</div>

		<!-- 오프사이드 세부정보 -->
		<div class="form-group" id="offsideDetail">

			<div class="input-group mb-3">
				<label class="input-group-text" for="inputGroupSelect01">오프사이드정보</label>
				<select class="custom-select" name="offsidePlayer" id="offsidePlayer">
					<option>파울선수</option>
					<option value="No.1">No.1</option>
					<option value="No.2">No.2</option>
					<option value="No.3">No.3</option>
				</select>

				<select class="custom-select" name="offsideArea" id="offsideArea">
					<option>파울위치</option>
					<option value="#1">#1</option>
					<option value="#2">#2</option>
					<option value="#3">#3</option>
				</select>
			</div>

			<!-- 오심여부 -->
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-outline-primary">
					<input type="radio" name="badCallOffside" id="badCallOffside" autocomplete="off" value="오심"> 오심
				</label>
			</div>

		</div>

		<!-- 파울 세부정보 -->
		<div class="form-group" id="foulDetail">

			<!-- 파울정보 -->
			<div class="input-group mb-3">
				<label class="input-group-text" for="inputGroupSelect01">파울정보</label>
				<select class="custom-select" name="foulPlayer" id="foulPlayer">
					<option>파울선수</option>
					<option value="No.1">No.1</option>
					<option value="No.2">No.2</option>
					<option value="No.3">No.3</option>
				</select>

				<select class="custom-select" name="foulArea" id="foulArea">
					<option>파울위치</option>
					<option value="#1">#1</option>
					<option value="#2">#2</option>
					<option value="#3">#3</option>
				</select>
			</div>

			<!-- 경고카드 선택 -->
			<div class="input-group mb-3" >
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-outline-primary">
						<input type="radio" name="foulCard" id="foulCard1" autocomplete="off" value="옐로우"> 옐로우
					</label>
					<label class="btn btn-outline-primary">
						<input type="radio" name="foulCard" id="foulCard2" autocomplete="off" value="레드"> 레드
					</label>
				</div>
			</div>

			<!-- 오심여부 -->
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-outline-primary">
					<input type="radio" name="badCall" id="badCall" autocomplete="off" value="오심"> 오심
				</label>
			</div>
		</div>

	</div>

	<!-- 선택사항 -->
<!-- 			<div class="form-group" id="optional">
				<hr>
				<p>선택사항</p> -->

				<script>
					// $(document).ready(function(){	
					// 	listing();
					// 	$("#optional").hide();
					// });

		  	// 타이머
		   	// function gamestart_event() {
		   	// 	var sec = 0;
		   	// 	function pad ( val ) { return val > 9 ? val : "0" + val; }
		   	// 	setInterval( function(){
		   	// 		$("#seconds").html(pad(++sec%60));
		   	// 		$("#minutes").html(pad(parseInt(sec/60,10)));
		   	// 	}, 1000);
		   	// }

		//    	var sw = {
		//    		/* [INIT] */
		// 	  etime : null, // holds HTML time display
		// 	  erst : null, // holds HTML reset button
		// 	  ego : null, // holds HTML start/stop button
		// 	  timer : null, // timer object
		// 	  now : 0, // current timer
		// 	  init : function () {
		// 	    // Get HTML elements
		// 	    sw.etime = document.getElementById("sw-time");
		// 	    sw.erst = document.getElementById("sw-rst");
		// 	    sw.ego = document.getElementById("sw-go");

		// 	    // Attach listeners
		// 	    sw.erst.addEventListener("click", sw.reset);
		// 	    sw.erst.disabled = false;
		// 	    sw.ego.addEventListener("click", sw.start);
		// 	    sw.ego.disabled = false;
		// 	},

		// 	/* [ACTIONS] */
		// 	tick : function () {
		// 	  // tick() : update display if stopwatch running

		// 	    // Calculate hours, mins, seconds
		// 	    sw.now++;
		// 	    var remain = sw.now;
		// 	    var hours = Math.floor(remain / 3600);
		// 	    remain -= hours * 3600;
		// 	    var mins = Math.floor(remain / 60);
		// 	    remain -= mins * 60;
		// 	    var secs = remain;

		// 	    // Update the display timer
		// 	    if (hours<10) { hours = "0" + hours; }
		// 	    if (mins<10) { mins = "0" + mins; }
		// 	    if (secs<10) { secs = "0" + secs; }
		// 	    sw.etime.innerHTML = hours + ":" + mins + ":" + secs;
		// 	},

		// 	start : function () {
		// 	  // start() : start the stopwatch

		// 	  sw.timer = setInterval(sw.tick, 1000);
		// 	  sw.ego.value = "Stop";
		// 	  sw.ego.removeEventListener("click", sw.start);
		// 	  sw.ego.addEventListener("click", sw.stop);
		// 	},

		// 	stop  : function () {
		// 	  // stop() : stop the stopwatch

		// 	  clearInterval(sw.timer);
		// 	  sw.timer = null;
		// 	  sw.ego.value = "Start";
		// 	  sw.ego.removeEventListener("click", sw.stop);
		// 	  sw.ego.addEventListener("click", sw.start);
		// 	},

		// 	reset : function () {
		// 	  // reset() : reset the stopwatch

		// 	    // Stop if running
		// 	    if (sw.timer != null) { sw.stop(); }

		// 	    // Reset time
		// 	    sw.now = -1;
		// 	    sw.tick();
		// 	}
		// };

		// window.addEventListener("load", sw.init);

			//슈팅이벤트
			function shootEvent() {
				console.log("shootEvent")
				$('#score').show();

				$('#conerkickDetail').hide();
				$('#offsideDetail').hide();
				$('#foulDetail').hide();
			}

				// 득점성공
				function scored() {
					console.log("scored")
					$('#shootType').show();
					$('#socreDetail').show();
					$('#shootDetail').hide();

					// $("#shootType").show();
					// $("#playType").show();
					// $("#scoreInfo").show();
					// $("#assistInfo").show();
					// $("#buildupInfo").show();
					// $("#playType1").prop('checked', true)

					$('#conerkickDetail').hide();
					$('#offsideDetail').hide();
					$('#foulDetail').hide();

				}

				// 득점실패
				function scoredNot() {
					console.log("scoredNot")
					$('#shootType').show();
					$('#shootDetail').show();
					$('#socreDetail').hide();

					// $("#shootType").show();
					// $("#shootPlayType").show();
					// $("#shootInfo").show();
					// $("#keypassInfo").show();
					// $("#shootBuildupInfo").show();

					$('#conerkickDetail').hide();
					$('#offsideDetail').hide();
					$('#foulDetail').hide();

				}

			// 코너킥 이벤트
			function conerkickEvent() {
				console.log("conerkickEvent")
				$('#conerkickDetail').show();

				$('#score').hide();
				$('#shootType').hide();
				$('#shootDetail').hide();
				$('#socreDetail').hide();
				$('#offsideDetail').hide();
				$('#foulDetail').hide();
			}
			
			// 오프사이드파울 이벤트
			function offsideFoulEvent() {
				console.log("offsideFoulEvent")
				$('#offsideDetail').show();

				$('#score').hide();
				$('#shootType').hide();
				$('#shootDetail').hide();
				$('#conerkickDetail').hide();
				$('#foulDetail').hide();
			}

			// 파울 이벤트
			function foulEvent() {
				console.log("foulEvent")
				$('#foulDetail').show();

				$('#score').hide();
				$('#shootType').hide();
				$('#shootDetail').hide();
				$('#conerkickDetail').hide();
				$('#offsideDetail').hide();

			}

			// 서버에 기록하기
			function record_event() {
				// 타이머
				let input_eventTime = $("#sw_time").html();
				//기본사항
				let input_eventType = $("input[name='eventType']:checked").val();
				let input_team = $("input[name='team']:checked").val();
				

				// 상세사항
					// 슈팅이벤트 상세사항
					let input_score = $("input[name='score']:checked").val();
					let input_shoot = $("input[name='shoot']:checked").val();

						// 득점성공
						let input_playType = $("input[name='playType']:checked").val();
						let input_scorePlayer = $("#scorePlayer").val();
						let input_scoreArea = $("#scoreArea").val();
						let input_shootMethod = $("input[name='shootMethod']:checked").val();
						let input_assistPlayer = $("#assistPlayer").val();
						let input_assistArea = $("#assistArea").val();
						let input_errorOpponent = $("input[name='errorOpponent']:checked").val();
						let input_setpiece = $("input[name='setpiece']:checked").val();
						let input_bulidupPlayer = $("#bulidupPlayer").val();
						let input_buildupArea = $("#buildupArea").val();


						// 득점실패
						let input_shootPlayType = $("input[name='shootPlayType']:checked").val();
						let input_shootPlayer = $("#shootPlayer").val();
						let input_shootArea = $("#shootArea").val();
						let input_shootshootMethod = $("input[name='shootshootMethod']:checked").val();
						let input_shooterrorOpponent = $("input[name='shooterrorOpponent']:checked").val();
						let input_shootsetpiece = $("input[name='shootsetpiece']:checked").val();		
						let input_keypassPlayer = $("#keypassPlayer").val();
						let input_keypassArea = $("#keypassArea").val();
						let input_shootBuildupPlayer = $("#shootBuildupPlayer").val();
						let input_shootBuildupArea = $("#shootBuildupArea").val();

					// 코너킥 상세사항
					let input_cornerkick = $("input[name='cornerkick']:checked").val();
					let input_kicker = $("#kicker").val();

					// 오프사이드 상세사항
					let input_offsidePlayer = $("#offsidePlayer").val();
					let input_offsideArea = $("#offsideArea").val();
					let input_badCallOffside = $("input[name='badCallOffside']:checked").val();

					// 파울 상세사항
					let input_foulPlayer = $("#foulPlayer").val();
					let input_foulArea = $("#foulArea").val();
					let input_foulCard = $("input[name='foulCard']:checked").val();
					let input_badCall = $("input[name='badCall']:checked").val();


				// // 여기까지 되는지 확인하기위해서
				console.log("hey")

				let a = {
					eventTime: input_eventTime || "",
					eventType: input_eventType || "",
					team: input_team || "",


					// 선택사항
						// 슈팅 이벤트
						score: input_score || "",
						shoot: input_shoot || "",
							// 득점성공
							playType: input_playType || "",
							scorePlayer: input_scorePlayer || "",
							scoreArea: input_scoreArea || "",
							shootMethod: input_shootMethod || "",
							assistPlayer: input_assistPlayer || "",
							assistArea: input_assistArea || "",
							errorOpponent: input_errorOpponent || "",	
							setpiece: input_setpiece || "",
							bulidupPlayer: input_bulidupPlayer || "",	
							buildupArea: input_buildupArea || "",

							//득점실패
							shootPlayType: input_shootPlayType || "",
							shootPlayer: input_shootPlayer || "",
							shootArea: input_shootArea || "",
							shootshootMethod: input_shootshootMethod || "",				
							keypassPlayer: input_keypassPlayer || "",
							keypassArea: input_keypassArea || "",
							shooterrorOpponent: input_shooterrorOpponent || "",
							shootsetpiece: input_shootsetpiece || "",
							shootBuildupPlayer: input_shootBuildupPlayer || "",
							shootBuildupArea: input_shootBuildupArea || "",

						// 코너킥 이벤트
						cornerkick: input_cornerkick || "",
						kicker: input_kicker || "",

						// 오프사이드 이벤트
						offsidePlayer: input_offsidePlayer || "",
						offsideArea: input_offsideArea || "",
						badCallOffside: input_badCallOffside || "",

						// 파울 이벤트
						foulPlayer: input_foulPlayer || "",
						foulArea: input_foulArea || "",
						foulCard: input_foulCard || "",
						badCall: input_badCall || ""
					}

					console.log(a);

					$.ajax({
						type: "POST",
						url: "/gamestat",
						data: {
					// 기본사항
					eventTime: input_eventTime || "",
					eventType: input_eventType || "",
					team: input_team || "",


					// 선택사항
						// 슈팅 이벤트
						score: input_score || "",
						shoot: input_shoot || "",
							// 득점성공
							playType: input_playType || "",
							scorePlayer: input_scorePlayer || "",
							scoreArea: input_scoreArea || "",
							shootMethod: input_shootMethod || "",
							assistPlayer: input_assistPlayer || "",
							assistArea: input_assistArea || "",
							errorOpponent: input_errorOpponent || "",	
							setpiece: input_setpiece || "",
							bulidupPlayer: input_bulidupPlayer || "",	
							buildupArea: input_buildupArea || "",

							//득점실패
							shootPlayType: input_shootPlayType || "",
							shootPlayer: input_shootPlayer || "",
							shootArea: input_shootArea || "",
							shootshootMethod: input_shootshootMethod || "",				
							keypassPlayer: input_keypassPlayer || "",
							keypassArea: input_keypassArea || "",
							shooterrorOpponent: input_shooterrorOpponent || "",
							shootsetpiece: input_shootsetpiece || "",
							shootBuildupPlayer: input_shootBuildupPlayer || "",
							shootBuildupArea: input_shootBuildupArea || "",

						// 코너킥 이벤트
						cornerkick: input_cornerkick || "",
						kicker: input_kicker || "",

						// 오프사이드 이벤트
						offsidePlayer: input_offsidePlayer || "",
						offsideArea: input_offsideArea || "",
						badCallOffside: input_badCallOffside || "",

						// 파울 이벤트
						foulPlayer: input_foulPlayer || "",
						foulArea: input_foulArea || "",
						foulCard: input_foulCard || "",
						badCall: input_badCall || ""

					},
					success: function(response){
						window.location.reload()
					}
				});

				}

//

function getParameterByName(name) {
	name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	results = regex.exec(location.search);
	return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

</script>

</body>

</html>











<script>
/* 
						성공하면 밑에걸 실행 시켜라
						success: function(response){
						window.location.reload()
					}
			<!-- 슈팅관련 세부정보 -->
			<!-- 슈팅 플레이 정보 -->
			<p>Optional 선택사항 (슈팅)</p>
			<div class="input-group mb-3" >
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-outline-primary">
						<input type="radio" name="options" id="option1" autocomplete="off"> 필드 플레이
					</label>
					<label class="btn btn-outline-primary">
						<input type="radio" name="options" id="option2" autocomplete="off"> 프리킥 플레이
					</label>
				</div>
			</div>

			<!-- 슈팅정보 -->
			<div class="form-group">
				<div class="input-group mb-3">
					<label class="input-group-text" for="inputGroupSelect01">슈팅정보</label>
					<input type="text" class="form-control" placeholder="슈팅선수">
					<input type="text" class="form-control" placeholder="슈팅위치">

					<div class="input-group mb-3" >
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-outline-primary">
								<input type="radio" name="options" id="option1" autocomplete="off"> 오른발
							</label>
							<label class="btn btn-outline-primary">
								<input type="radio" name="options" id="option2" autocomplete="off"> 왼발
							</label>
							<label class="btn btn-outline-primary">
								<input type="radio" name="options" id="option3" autocomplete="off"> 헤더
							</label>
							<label class="btn btn-outline-primary">
								<input type="radio" name="options" id="option4" autocomplete="off"> 기타
							</label>
						</div>
					</div>
				</div>


				<!-- 도움정보 -->
				<div class="form-group">
					<div class="input-group mb-3">					
						<label class="input-group-text" for="inputGroupSelect01">키패스정보</label>
						<input type="text" class="form-control" placeholder="키패스선수">
						<input type="text" class="form-control" placeholder="키패스위치">

						<div class="input-group mb-3" >
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
								<label class="btn btn-outline-primary">
									<input type="checkbox" name="options" id="option1" autocomplete="off"> 상대실책성 플레이
								</label>
								<label class="btn btn-outline-primary">
									<input type="checkbox" name="options" id="option2" autocomplete="off"> 세트피스 플레이
								</label>
							</div>
						</div>
					</div>

					<!-- 빌드업정 -->
					<div class="form-group">
						<div class="input-group mb-3">
							<label class="input-group-text" for="inputGroupSelect01">빌드업 정보</label>
							<input type="text" class="form-control" placeholder="빌드업시작 선수">
							<input type="text" class="form-control" placeholder="빌드업시작 위치">
						</div>
					</div>
				</div>
				*/
			</script>